.rightbarHome{
    display: flex;
    align-items: center;
    margin-bottom:20px;
    cursor: pointer;


    .sidebarcompanyImg{
       width: 55px;
       height: 55px;
       border-radius: 50%;
       margin-right: 20px;
       object-fit: cover;

       .seeall{
        cursor: pointer;
        color: rgb(128, 128, 247);
    }

   
   }
  .rightbarTitle{
    display: flex;
    margin-bottom: 20px;
    color: gray;
  }
  .footerHr{
    margin-top: 10px 0;
  }
  
   
}
