.navbarContainer{
    width: 100%;
    height: 80px;
    background-color: #3b5998;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
}
.logo{
    font-size: 24px;
    color: white;
    margin-left: 20px;
    font-weight: 500;
    cursor: pointer;
}
.navleft{
flex: 3;
}
.searchbar{
    width: 100%;
    height: 35px;
    background-color: white;
    border: 1px solid white;
    display: flex;
    align-items: center;
    border-radius: 25px;

}
.searchIcon{
    font-size: 20px;
    margin-left: 10px;
    color: gray;
    cursor: pointer;
}
.searchInput{
    border: none;
    width: 90%;
    border-radius: 25px;

    &:focus{
        outline: none;
    }
}
.navMiddle{
    flex: 5;
}
.navRight{
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}
.navbarIcons{
    display: flex;
    font-size: 20px;
    gap: 10px;
}
.navbarlink{
    margin-left: 20px;
    font-size: 10px;
    cursor: pointer;
}

@media only screen and (max-width:992px) {
    .navbarContainer{
        .navleft{
            flex: 2;
            .logo{
                font-weight: 500;
            }
        }
        .navMiddle{
            flex: 5;
            .searchbar{
                width: 95%;

                .searchInput{
                    width: 70%;
                }
            }
        }
    }
}

@media only screen and (max-width:768px) {
    .navbarContainer{
        .navleft{
            flex: 3;
        }
        .navRight{
            // .navbarlink{
            //     display: none;
            // }
        }
    }
}
@media only screen and (max-width:576px) {
    .navbarContainer{
        justify-content: space-between;
        .navleft{
            flex: 1;
        }
        .navMiddle{
            flex: 1;
            display: none;
        }
        .navRight{
            flex: 1;
        }
    }
}