.post{
    width: 100%;
    height: 170%;
    border-radius: 5px;
    -webkit-box-shadow: 2px 5px 12px 1px rgb(241, 236, 236);
    box-shadow: 2px 5px 12px 1px rgb(211, 209, 209);


    .postWrapper{
        padding: 20px;


        .postTop{
            display: flex;
            align-items: center;
            justify-content: space-between;

            .postTopLeft{
                display: flex;
                align-items: center;

                .PostProfileImg{
                    width: 40px;
                    height: 40px;
                    border-radius:  50%;
                    cursor: pointer;
                }
                .postUsername{
                    font-size: 15px;
                    font-weight: 500;
                    margin: 0 10px;
                    cursor: pointer;
                }
                .postDate{
                    font-size: 14px;

                }
            }
            .postTopRight{
                .postVert{
                    font-size: 30px;
                    color: #333;
                    cursor: pointer;
                }
            }
        }
        .postCenter{
            margin: 20px 0;


            .postImg{
                width: 100%;
                max-height: 500px;
                object-fit: 20px;
                margin-top: 20px;
                cursor: pointer;
            }
        }
        .postBottom{
            display: flex;
            align-items: center;
            justify-content: space-between;

            .postBottomLeft{
                display: flex;
                align-items: center;
                gap: 10px;

                .bottomLeftIcon{
                    font-size: 30px;
                    cursor: pointer;
                }
                .postLikeCount{
                    font-size: 15px;
                }
            }
            .postbottomRight{
                .postCommentText{
                    font-size: 15px;
                    cursor: pointer;
                    color: gray;
                }
            }
        }

        .footerHr{
            margin: 10px 0;
        }
        .bottomFooter{
            display: flex;
            align-items: center;
            justify-content: space-between;

            .postbottomFooterItem{
                display: flex;
                align-items: center;
                padding: 7px;
                cursor: pointer;


                .footerIcon{
                    color: #333;
                    font-weight: 30px;
                    margin-right: 10px;
                }

                .footerText{
                    font-weight: 500;
                }
            }
        }
    }
}